<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fiume.billingmechine">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.ActivitySplash"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ActivityMain"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".activity.SettingsActivity"
            android:screenOrientation="landscape"
            android:theme="@style/TabTheme"/>
        <activity
            android:name=".activity.ProductsActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".activity.BillReportActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".activity.AddItemDialogActivity"
            android:theme="@style/AppThemeDialog"/>
        <activity
            android:name=".activity.LoginDialogActivity"
            android:theme="@style/AppThemeDialog"/>
        <activity
            android:name=".activity.BillDetailDialogActivity"
            android:theme="@style/AppThemeDialog"/>

    </application>

</manifest>
